# Build artifacts
.build/
.swiftpm/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store
*.dSYM/

# Xcode
*.pbxuser
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.hmap
*.ipa
*.app

# Package Manager
Packages/
.package.resolved
Package.resolved
release/
build/
